body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

#pong-game {
    position: relative;
    width: 320px;
    height: 480px;
    border: 2px solid white;
    margin-top: 20px;
}



#ball, #player {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: white;
    border-radius: 50%;
}

#food {
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: darkred;
    border-radius: 50%;
}



#score {
    color: white;
    font-size: 18px;
    margin-bottom: 10px; /* Add some space below the timer */
}