body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

#pong-game {
    position: relative;
    width: 320px;
    height: 480px;
    border: 2px solid white;
    margin-top: 20px;
}



#hunter {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #0e860e;
    border-radius: 50%;
}


#player {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: white;
    border-radius: 50%;
}

#villain {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #ab960f;
    border-radius: 50%;
}

#klatscher {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #355da9;
    border-radius: 50%;
}

#unknown {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #7636b2;
    border-radius: 50%;
}

#food {
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: #9a0f0f;
    border-radius: 50%;
}


#game-over-screen {
    position: absolute;
    top: 0px; /* Adjust as needed for the desired padding from the top */
    left: 0px; /* Adjust as needed for the desired padding from the left */
    right: 0px; /* Adjust as needed for the desired padding from the right */
    bottom: 0px; /* Adjust as needed for the desired padding from the bottom */
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
    display: none; /* Start with the game over screen hidden */
    flex-direction: column;
    justify-content: center;
    align-items: flex-start; /* Align items to the start (left) */
    padding: 20px;
    box-sizing: border-box;
    text-align: left;
    overflow-wrap: break-word;
    z-index: 10; /* Ensure it's above all other elements */
}



#score {
    z-index: -1;
    color: white;
    font-size: 18px;
    margin-bottom: 10px;
}

#music-toggle {
    position: absolute;
    top: 0;
    right: 0;
    background: none;
    color: white;
    border: none;
    cursor: pointer;
}
